.container {
  margin-top: 25px;
  font: 80px;
  height: 500px;
}

.custom-card .card-title {
  font-size: 1.2em; /* Tamaño de fuente un poco más grande */
  font-weight: bold; /* Texto en negrita */
}

.custom-card {
  background-color: #f8f9fa; /* Color de fondo blanco roto */
  margin: 20px; /* Margen exterior */
  border-radius: 10px; /* Bordes levemente redondeados */
  transition: transform 0.3s ease;
  max-width: 100%;
  content: auto; /* Transición suave al agrandar */
}

.custom-card:hover {
  transform: scale(1.05); /* Aumenta el tamaño en un 5% al pasar el ratón */
}

.photo {
  height: 500px;
  weight: 300px;
}

.boton {
  color: #f8f9fa;
}
